<!-- form to enter comments -->
<%= form_for([@post,@post.comments.build]) do |f| %>
  <p>
    
     <% f.label :name %>
     <%= f.hidden_field :name, value: current_user.name %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <br>
  <p>
    <%= f.submit %>
  </p>

  <% end %>
