<!DOCTYPE html>
<html>
  <head>
    <title>Abcd</title>
   
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
  <div id="user_nav">
     <!-- signing in -->
    <% if user_signed_in? %>
        Signed in as <%= current_user.name %>. 
                <h3><%= link_to "Messages", conversations_path %></h3>
                <h3><%= link_to 'Post something',posts_url%></h3>  
       <h3>followers </h3>
   <%= current_user.followers.count %>
    <h4>following </h4>
     <%= current_user.following.count %></br>
        <%= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()) , :method => 'delete'%>
       
    <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
    <% end %>

</div>
    <%= yield %>
  </body>
</html>
